/*  reset  */
* {margin:0; padding:0}
li {list-style:none; font-style:'나눔 고딕', "Nanum Gothic"}
a {text-decoration:none}
img {vertical-align:center}
body {background-color:#fff;} /* 1a1a1a; */
a:hover, a:active, a:focus {color:#fff}

#header {height:163px; background:url(../images/t_bar.jpg) repeat-x 0 0; background-size:1280px 163px; width:100%; margin:0 auto;}
.inner {position:relative; margin:0 auto; width:1280px; height:128px; z-index:9999}

#container {position:relative; height:auto; text-align:center; padding-top:20; margin:0 auto;}

#footer {width:100%; margin:0 auto; height:204px; background:url(../images/t_bar.jpg) repeat-x 0 0; background-size:10px 204px; padding-top:0; padding-bottom:0;}
#footer .inner {position:relative; margin:0 auto; width:1280px; height:128px; color:#f2f2f2;} 

/* header */
.inner .logo {position:absolute; left:0; top:30px}
.inner .gnb {position:absolute; left:190px; top:60px;}
.inner .gnb li {float:left; margin-right:20px}

/*  탑 메뉴  */
.inner .top_menu {position:absolute; right:0; top:25px; width:200px;}
.inner .top_menu img {float:left; margin-left:10px}

/* 메인 메뉴 */
.gnb .main {position:relative; float:left; width:150px; height:80px; line-height:65px; text-align:center; margin:0 auto;}
.gnb .sub {position:absolute; left:10px; top:50px; width:150px; height:50px; display:none}
.gnb .sub li {width:138px; height:50px; line-height:50px; background:#c2010d; text-align:center}
.gnb .sub li a{display:block}

.gnb .main:hover .sub {display:block;}

.gnb .sub li {background:#c2010d; color:white}

/* container */
#container {position:relative; height:2400px}
#container .con2 {position:relative; padding-top:0; padding-bottom:0;}
#container .con3 {position:relative; margin:0 auto; padding-top:100px; line-height:25px;}
#container .m_time a {margin-left:80px;}
#container .con3 .m_menu {margin:0 auto; position:relative; padding-top:70px;width:900px; text-align:center}
.m_menu li {float:left; margin-left:90px}


/* footer */

address {position:relative; float:left; left:50px; top:30px; font-size:13px; font-style:normal; line-height:25px}
.copyright {position:absolute; float:left; top:140px; font-size:14px; margin-left:50px}
.sns {position:relative; float:right; text-align:right; top:40px; margin-right:50px; width:300px;}
.sns img {margin:6px}