
#container {margin:0 auto; width:100%; text-align:center;}

#container .memo {width:80%; line-height:22px;margin:0 auto;}
#container .memo p {width:100%;font-size:12px;text-align:center;letter-spacing:0.5px}
#container .memo p b {font-size:11px}

#container .all {width:80%;height:30px;margin:38px ;margin-bottom:0;padding:5px;line-height:30px
                        ;margin:0 auto;position:relative;margin-top:20px;}
#container .all input {position:absolute;left:3px;top:20px}
#container .all label {font-size:0.7em;position:absolute;left:20px;top:7px; margin-top:5px}


#container .text1 {margin:0 auto;width:80%;padding:5px;margin-top:10px;height:'';padding-bottom:30px; }
#container .text2 {margin:0 auto;width:80%;padding:5px;margin-top:50px;height:'';padding-bottom:30px;}

#container .text1 h2 {height:25px;width:100%;font-size:16px; margin:0 auto}
#container .text1 textarea, #container .text2 textarea {width:100%; margin-top:20px;height:110px ;border:1px solid #000; font-size:11px;}
#container .text1 .agree1 { font-size:0.7em;float:left;line-height:30px;position:relative}
#container .text1 input{position:absolute;top:8px}
#container .text1 label{margin-left:17px}

#container .text2 h2 {height:25px;width:100%;font-size:16px;margin:0 auto;}
#container .text2 .agree2 { font-size:0.7em;float:left;line-height:25px;position:relative}
#container .text2 input{position:absolute;top:8px}
#container .text2 label{margin-left:17px}

#container .yn {width:100%;margin:0 auto; padding-top:60px; padding-bottom:80px;}
#container .yn input {margin-right:30px;}
#container .yn input:first-child {width:35%; height:36px;background-color: #000;color:#fff;border:0;}
#container .yn input:last-child {width:35%; height:36px;background-color: #000;color:#fff;border:0; margin-right:0}

