@charset "utf-8";
@import url("common.css");

/* 보조색 : #f15454 */

/* title box */
#contents .titbox .lip_tab {text-align:center;margin-bottom:10px}
#contents .titbox .lip_tab li {display:inline-block;padding:5px 0}
#contents .titbox .lip_tab li a {display:block;font-size:12px;color:#000}
#contents .titbox .lip_tab li:nth-child(2) a {color:#f15454}
#contents .titbox .lip_tab li a:after {content:'|';padding:10px;color:#000}
#contents .titbox .lip_tab li:last-child a:after {content:'';padding:0}

/* lipstick product */
#contents .lip {width:90%;margin:0 auto;margin-bottom:70px}
#contents .lip .lipglass {margin:0 auto;width:100%;margin-bottom:40px}
#contents .lip .lipglass dl {margin:0 auto;width:100%;margin-bottom:10px}
#contents .lip .lipglass dl dt a img {width:100%;margin-bottom:20px}
#contents .lip .lipglass dl dd {text-align:left;font-size:12px;line-height:20px}
#contents .lip .lipglass dl dd:nth-child(2) {margin:0 auto;text-align:center;width:180px;height:30px;background-color:#000;line-height:30px;margin-bottom:25px}
#contents .lip .lipglass dl dd:nth-child(2) a {color:#fff}
#contents .lip .lipglass dl dd:nth-child(3) {font-size:22px;line-height:40px}
#contents .lip .lipglass dl dd:nth-child(3) span {float:right}
#contents .lip .lipglass dl dd:nth-child(3) span a img {width:25px;height:25px;vertical-align:middle;margin-left:8px;}
#contents .lip .lipglass dl dd:last-child {font-size:11px}
#contents .lip .lipglass dl dd a {color:#000}

/* 더보기 아이콘 */
#more {margin:0 auto;text-align:center;margin:40px 0}
#more a img {width:25px;height:25px} 