@import "common.css"; 

a {font-size:11px; color:#000; text-decoration:none}
#container2 { width:100%;height:570px;margin:0 auto;}

#container2 .loginW {width:100%; text-align:center; line-height:30px}
#container2 .login input {width:68%;height:28px;margin:0 10px 5px; }
#container2 .login #e-mail,#pw {font-size:0.6em;text-indent:15px; color:#d3d3d3}
#container2 .login p {font-size:0.7em;width:100%;text-align:center;margin-top:-5px;text-indent:-10px; line-height:45px}
#container2 .login #login {text-transform:uppercase;width:69%;background-color: #000;
                                        color:#fff;height:35px;border:0;margin-left:0}


#container2 .join {width:90%;height:70px;margin:0 auto;margin-top:10px;}
/* #container2 .join .joinp {font-size:0.8em;width:100%;height:35px;margin:0 auto;text-align:center;
                                     line-height:20px;margin-top:40px;font-weight:bold;letter-spacing:0.5px} */
#container2 .join #join {text-transform:uppercase;width:80%;background-color: #000;
                                        color:#fff;height:35px;border:0;}

#container2 .loverp {width:100%;height:100px ;margin:0 auto;}
#container2 .loverp {font-size:0.7em;margin:0 auto;width:70%; line-height:24px; }
#container2 .lover {text-transform:uppercase;margin-top:40px; margin-bottom:20px; margin-left:-10px; width:77%; background-color:#000;
                                        color:#fff;height:35px;border:0;}
#container2 .loversignup {font-size:0.7em; line-height:22px}
#container2 .lover p {width:90%;font-size:0.8em;text-align:center;margin:0 auto; font-size:11px}
#container2 .lover .small {font-size:0.7em;text-align:center}

#login, .lover {font-size:12px}