@import "common.css"; 

#mybag {/* border-top:1px solid #000; border-bottom:1px solid #000 */; margin-bottom:5px; width:100%;height:800px}


#mybag .mybag_I {margin:0 auto;width:95%;height:170px;border-top:1px solid #000;}
#mybag .mybag_I .img_p {float:left;height:100%;width:33%;}
#mybag .mybag_I img {width:70%;height:80%;padding:20px 10px;text-align:center}
#mybag .mybag_I .shop_info {margin-top:20px;margin-left:27%;width:50%;height:135px;}
#mybag .mybag_I .shop_info p {font-size:0.7em;line-height:20px;}
#mybag .mybag_I .shop_info p:first-child{padding-top:30px}
#mybag .mybag_I .shop_info p.won {line-height:30px;font-size:0.9em}
#mybag .mybag_I .shop_info p.won span {margin-left:10px;font-size:0.7em}

#mybag .mybag_B {margin:0 auto;width:95%;height:170px;border-top:1px solid #000; border-bottom:1px solid #000;}
#mybag .mybag_B .img_p {float:left;height:100%;width:33%;}
#mybag .mybag_B img {width:70%;height:80%;padding:20px 15%;text-align:center}
#mybag .mybag_B .shop_info {margin-top:20px;margin-left:27%;width:50%;height:135px}
#mybag .mybag_B .shop_info p {font-size:0.7em;line-height:20px;}
#mybag .mybag_B .shop_info p:first-child{padding-top:30px}
#mybag .mybag_B .shop_info p.won {line-height:30px;font-size:0.9em}
#mybag .mybag_B .shop_info p.won span {margin-left:10px;font-size:0.7em}

#mybag .mybag_UD {float:right;width:90px;height:135px;margin-top:-135px;position:relative; }
#mybag .mybag_UD input {width:20px;height:20px;position:absolute;top:60px;left:5px;border:1px solid #000; font-size:11px;
                                         text-align:center;line-height:20px;}
#mybag .mybag_UD button {width:50px;height:20px;border:1px solid #000; font-size:11px; background-color:#fff;}
#mybag .mybag_UD button.bt_up {position:absolute;top:50px;right:8px;margin-bottom:5px}
#mybag .mybag_UD button.bt_down {position:absolute;top:70px;right:8px;margin-top:5px}

#mybag .Total {margin:0 auto; width:80%;height:40px;margin-top:40px; line-height:40px; font-size:15px; margin-right:25px}
#mybag .Total p {float:left;font-size:1.2em;width:50%;text-align:right;} 
#mybag .Total span {float:left;font-size:1.2em;width:40%;margin-left:5px;}

#mybag .mybag_p {margin:0 auto;width:80%;height:270px;margin-top:20px; font-size:14px}
#mybag .mybag_p p {font-size:0.8em;line-height:25px;text-align:center;padding:5px;}
#mybag .mybag_p p.ch1 {letter-spacing:-0.2px;} 
#mybag .mybag_p p.ch2 {margin-top:25px;font-size:0.9em}
#mybag .mybag_p p a {border-bottom:1px solid #000}

#mybag .button {margin:0 auto;width:80%;height:60px; text-align:center;line-height:60px;}
#mybag .button button {width:50%;height:35px;background: #000;color:#fff;border:0; font-size:12px; text-align:center}


