@charset "utf-8";
@import "common.css"; 

/* form */
#container1 {width:100%;text-align:center; height:620px}
#container1 form {width: 90%;margin:0 auto; margin-bottom:50px;}
#container1 form table {margin:0 auto; width:90%;text-align:left; text-align:center}
#container1 form tbody {margin:0 auto; width:90%; }
#container1 form tbody th {width:15%;padding:20px 0;font-size:12px;font-weight:500;}
#container1 form tbody p {position:absolute; margin-top:4px}
#container1 tr {width:100%}
#container1 tr input {width:82%; height:25px;margin-left:20px;}
#container1 tr input#id {width:60%}
#container1 tr td {width:60%;padding:15px 0}
#container1 tr td p {font-size:10px; text-align:center; margin-left:30px}
#container1 #idCheck {width:20%;display:inline-block;font-size:10px;margin:0}

/* 메일 수신 */
#container1 select {width:84%;height:30px;margin-left:20px;font-size:11px;}
#container1 select option {font-size:11px;}
#container1 .mail {padding:3px 0 0; word-spacing:20px}
#container1 .mail input {width:13px;height:13px;margin-right:5px;vertical-align:middle;}
#container1 .mail label {font-size:11px;}

/* join, cancle 버튼 */
#container1 #confirm {width:100%;margin:0 auto; text-align:center;padding-top:50px; height:50px;}
#container1 #confirm input {background: #000;color:#fff;width:42%;height:36px;margin-right:20px;border:0;}
#container1 #confirm input:last-child{margin-right:0;}