@import "common.css"; 

a  {color:#000}
#contents h1 {/* padding:25px 0 10px */}
#contents .search_Box {position:relative; width:100%; text-align:center; background:#000; height:280px}

#contents .searchD {position:relative; width:100%; padding:10px; padding-bottom:55px}
#contents .searchD p {padding-top:20px; padding-bottom:15px; }

#contents .searchD h2 {margin-top:20px; font-size:24px;}
#contents .search_Box .global_T {line-height:100px; font-size:13px; color:#eee}
#contents .search_Box .search_store input[type=search] {position:relative; width:260px; height:40px; top:0}
#contents .search_Box .search_store input[type=image] {position:relative; width:45px; height:40px; top:15px}
#contents .search_Box .global_store {margin-top:50px; font-size:11px}
#contents .search_Box .global_store a {color:#aaa}

.searchD strong {font-size:45px; font-weight:450;}
.searchD input {width:120px; color:#000; background:#fff; border:1px solid #000; padding:3px}
.searchD p {font-size:25px; font-weight:450;}
#map dl {margin-left:36px}
#map dt {font-size:13px; line-height:25px; margin-left:35px}
#map dd {font-size:11px; margin-top:15px; line-height:20px; margin-left:35px; width:130px; text-align:center}
/* #contents p .numer {border:1px solid #eee} */
/* #contents .searchD p .numer, .searchD p .map {position:relative} */
