@charset "utf-8";
@import "common.css"; 

#main {width:100%;}
#main img {width:100%;height:200px; text-align:center}

#contents .titbox .lip_tab {text-align:center;margin-bottom:10px}
#contents .titbox .lip_tab li {display:inline-block;padding:5px}
#contents .titbox .lip_tab li a {display:block;font-size:12px;color:#000}
#contents .titbox .lip_tab li:first-child a {color:#f15454}
#contents .titbox .lip_tab li a:after {content:'|';padding:10px;color:#000}
#contents .titbox .lip_tab li:last-child a:after {content:'';padding:0}

#main .str_img {width:100%;height:30%}
#main .text1 {width:85%;margin:0 auto; text-align:center;margin-bottom:50px}
#main .text2  {width:85%;margin:0 auto;height:'';margin-bottom:50px; text-align:center}
#main h2 {height:40px;margin-top:20px;line-height:40px;text-align:center;font-size:1.2em;padding:5px;}
#main h3 {line-height:20px;text-align:center;height:60px;font-size:0.8em;}
#main p {margin-top:10px; font-size:0.8em;line-height:26px}