@charset "utf-8";
@import url("common.css"); 

/* title box */
#contents .titbox .lip_tab {text-align:center;margin-bottom:10px}
#contents .titbox .lip_tab li {display:inline-block;padding:5px 0}
#contents .titbox .lip_tab li a {display:block;font-size:12px;color:#000}
#contents .titbox .lip_tab li:last-child a {color:#f15454}
#contents .titbox .lip_tab li a:after {content:'|';padding:10px;color:#000}
#contents .titbox .lip_tab li:last-child a:after {content:'';padding:0}

/* 비바 글램 소개 */
#viva {width:100%;margin-bottom:50px}
#viva img {width:100%;height:200px;}
#viva h2 {text-align:center;height:40px;line-height:40px;padding:5px;margin:20px 0 10px;font-size:1.2em;}
#viva p {width:80%;font-size:0.8em;line-height:28px; margin:0 auto;padding:5px; text-align:center;}
#viva h5 {width:80%;height:65px;margin:0 auto;line-height:28px;text-align:center;font-size:0.9em}
#viva p a {color:#000;text-decoration:underline}
#viva .last {margin-bottom:40px;text-align:center;margin:o auto;width:75%;}

/* 비바 글램 컬렉션 */
#vivaGlam {width:90%;margin:0 auto;margin-bottom:70px}
#vivaGlam h2 {margin:0 auto;text-align:center;height:40px;line-height:40px;padding:5px;margin:20px 0 10px;font-size:1.5em;font-weight:500}
#vivaGlam h3 {margin:0 auto;text-align:center;font-size:0.8em;font-weight:400;color:#f15454}
#vivaGlam .vivalip .lipstick {margin:0 auto;width:100%;margin-bottom:40px}
#vivaGlam .vivalip .lipstick dl {margin:0 auto;width:100%;margin-bottom:10px}
#vivaGlam .vivalip .lipstick dl dt a img {width:100%;margin-bottom:20px}
#vivaGlam .vivalip .lipstick dl dd {text-align:left;font-size:12px;line-height:20px}
#vivaGlam .vivalip .lipstick dl dd:nth-child(2) {margin:0 auto;text-align:center;width:180px;height:30px;background-color:#000;line-height:30px;margin-bottom:25px}
#vivaGlam .vivalip .lipstick dl dd:nth-child(2) a {color:#fff}
#vivaGlam .vivalip .lipstick dl dd:nth-child(3) {font-size:22px;line-height:40px}
#vivaGlam .vivalip .lipstick dl dd:nth-child(3) span {float:right}
#vivaGlam .vivalip .lipstick dl dd:nth-child(3) span a img {width:25px;height:25px;vertical-align:middle;margin-left:8px;}
#vivaGlam .vivalip .lipstick dl dd:last-child {font-size:11px}
#vivaGlam .vivalip .lipstick dl dd a {color:#000}